* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;
background-color: black;
}
h1{
    text-align: center;
}

.intro {
    width: 60%;
    align-items: center;
    margin:auto
}

p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.art-title {
    font-size: 70px;
}

.overview {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 20px;
}

.page {
background-color: black;
color: white;
display: flex;
height: 20vh;
align-items: center;
justify-content: center;
font-size: 3rem;
}
.test-art,
.test-art-2 {
    background-color: black;
    color: white;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
    border-radius: 10px;
}

.test-art {
    background-image: url('/public/images/ls.jpeg');
}
.test-art-2 {
    background-image: url('/public/images/vou.jpg');
}

